html {
  overflow: hidden;
  font-family: 'Fira Mono', sans-serif ;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
  display: inline-block;
  font-size: responsive 22px 16px;
}

@media (max-width: 400px) {
  a {
    display: block;
    margin-bottom: 1em;
  }
}

a:hover,
a:focus {
  background-color: #222;
  color: #fff;
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  margin-left: 5%;
}

.title {
  font-size: responsive 50px 150px;
  opacity: 0;
  display: flex;
  align-items: center;
}

.profile {
  display: inline-block;
  height: 8vw;
  width: 8vw;
  outline: none;
  max-height: 130px;
  max-width: 130px;
  min-height: 35px;
  min-width: 35px;
  margin-right: .1em;
  background-color: #222;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s cubic-bezier(.17,.67,.83,.67);
}

.profile:active {
  transform: scale(.9);
}

.nav {
  margin-top: 30px;
  font-size: 18px;
  opacity: 0;
}

.nav a:not(:last-child) {
  margin-right: 10px;
}

.sub {
  font-size: responsive 20px 40px;
  opacity: 0;
  mix-blend-mode: difference;
}

.src {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: rgba(50, 50, 50, .4);
}

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  animation: in 1.5s linear alternate forwards;
  animation-delay: 1s;
}

.nav {
  animation: in 1.5s linear alternate forwards;
  animation-delay: 2.8s;
}

.sub {
  animation: in 1.5s linear alternate forwards;
  animation-delay: 2.5s;
}
