/*
  COLORS
  - rgba(240,203,170,1)
  - rgba(187,195,207,1)
  - rgb(158, 163, 172)
 */

a {
  color: rgb(158, 163, 172);
}

body {
  font-family: 'Fira Mono', sans-serif ;
  color: #fff;
}

.Hero {
  background: rgba(240,203,170,1);
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/geometry2.png');
  background-blend-mode: multiply;
  color: #fff;
  text-shadow: 1px 1px 0px rgb(255, 255, 255);
  padding: 100px 8%;
  box-shadow: 0 4px 2px rgba(51, 51, 51, .5);
}

.Hero-title {
  font-size: 80px;
}

.Hero-sub {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}

.Icon {
  fill: #fff;
  height: 20px;
  width: 20px;
}

.Projects {
  background: rgba(187,195,207,1);
  padding: 40px 8%;
}

.container {
  padding: 40px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.piece {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 1 100%;
  margin-bottom: 20px;
}

.Card {
  height: 180px;
  background: rgb(158, 163, 172);
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  background-size: cover;
  position: relative;
  opacity: 0;
  transition: all 2s;
}

.Card.placed {
  opacity: 1;
}

.Card-header {
  z-index: 4000;
  position: relative;
  padding: 20px;
}

.Card-title {
  font-size: 25px;
  font-weight: 700;
}

.Card-link {
  color: #fff;
}

.Card-icon {
  float: right;
  margin-top: 7px;
}

.Card-desc {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

.Footer {
  background: rgb(158, 163, 172);
  padding: 10px;
  text-align: right;
}

.error {
  display: block;
}

.error.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  .piece {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 800px) {
  .piece {
    flex-basis: 33.3333%;
  }
}

@media screen and (min-width: 1024px) {
  .piece {
    flex-basis: 25%;
  }
}
